<div class="container">
    <form [formGroup]="formGroup" autocomplete="off">
        <div class="d-flex">
            <mat-form-field appearance="fill">
                <mat-label>Seleccione un rango de fechas</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Desde" formControlName="startDate">
                    <input matEndDate placeholder="Hasta" formControlName="endDate" (dateChange)="onRangeChange()">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Filtrar comandas</mat-label>
                <mat-select formControlName="filterCommands" (selectionChange)="onFilterChange()">
                    <mat-option [value]="false">TODAS LAS COMANDAS</mat-option>
                    <mat-option [value]="true">SOLO ANULADOS</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Todas las mesas</mat-label>
                <mat-select formControlName="tableId" (selectionChange)="onFilterChange()">
                    <mat-option value="">TODAS LAS MESAS</mat-option>
                    @for (table of tables; track table._id) {
                        <mat-option [value]="table._id">{{ table.name }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
    </form>
    <div class="mat-elevation-z2">
        <table mat-table [dataSource]="dataSource" class="w-100">
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef>F/H Registro</th>
                <td mat-cell *matCellDef="let element" class="text-capitalize truncate-cell">
                    {{ element.createdAt | date: 'dd/MM/yyyy, hh:mm a' }}
                </td>
            </ng-container>
            <ng-container matColumnDef="ticketNumber">
                <th mat-header-cell *matHeaderCellDef>N° de ticket</th>
                <td mat-cell *matCellDef="let element">{{ element.ticketNumber }}</td>
            </ng-container>
            <ng-container matColumnDef="sale">
                <th mat-header-cell *matHeaderCellDef>Comprobante</th>
                <ng-container *matCellDef="let element">
                    @if (element.sale) {
                        <td mat-cell>
                            {{ element.sale.invoicePrefix }}{{ office.serialPrefix }}-{{ element.sale.invoiceNumber }}
                        </td>
                    } @else {
                        <td mat-cell class="text-muted">NINGUNO</td>
                    }
                </ng-container>
            </ng-container>
            <ng-container matColumnDef="boardNumber">
                <th mat-header-cell *matHeaderCellDef>N° de mesa</th>
                <td mat-cell *matCellDef="let element">{{ element.table.name || 'NINGUNO' }}</td>
            </ng-container>
            <ng-container matColumnDef="charge">
                <th mat-header-cell *matHeaderCellDef>Importe T.</th>
                <td mat-cell *matCellDef="let element">{{ (element.charge || 0).toFixed(2) }}</td>
            </ng-container>
            <ng-container matColumnDef="deletedBoardItems">
                <th mat-header-cell *matHeaderCellDef>Producto anulados</th>
                <td mat-cell *matCellDef="let element">{{ element.deletedBoardItems }}</td>
            </ng-container>
            <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef>Usuario</th>
                <td mat-cell *matCellDef="let element">{{ element.user.name }}</td>
            </ng-container>
            <ng-container matColumnDef="deletedObservations">
                <th mat-header-cell *matHeaderCellDef>Motivo de anulacion</th>
                <td mat-cell *matCellDef="let element">{{ element.deletedObservations }}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="before">
                        <button mat-menu-item (click)="onOpenHistory(element._id)">
                            <mat-icon>info</mat-icon>
                            <span>Detalles</span>
                        </button>
                        <button mat-menu-item (click)="onOpenSale(element.saleId)" *ngIf="element.saleId">
                            <mat-icon>info</mat-icon>
                            <span>Venta</span>
                        </button>
                        <button mat-menu-item (click)="onPrint(element._id)">
                            <mat-icon>printer</mat-icon>
                            <span>Imprimir</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                [ngClass]="{ 'bg-success': row.saleId, 'bg-danger': row.deletedAt }"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [pageIndex]="pageIndex"
            [length]="length" (page)="handlePageEvent($event)" showFirstLastButtons></mat-paginator>
    </div>
</div>