<div class="d-flex">
    <form class="flex-70 d-flex align-items-center justify-content-center" (ngSubmit)="onSubmit()"
        [formGroup]="formGroup" autocomplete="off">
        <div class="px-3">
            <h2 class="text-center mat-display-small mb-0">{{ charge.toFixed(2) }}</h2>
            <p class="caption text-center text-muted mb-2">Total a cobrar</p>
            @if (customer) {
            <button type="button" mat-button color="primary" (click)="onEditCustomer()" class="w-100 mb-3">
                <span class="mat-h1">{{ customer.name | uppercase }}</span>
            </button>
            @if (customer.mobileNumber) {
            <p class="text-center mb-3">Celular: {{ customer.formatMobileNumber }}</p>
            }
            }
            <mat-form-field appearance="fill" *ngIf="customer">
                <mat-label>Direccion</mat-label>
                <mat-select formControlName="addressIndex">
                    @for (address of addresses; track $index; let i = $index) {
                    <mat-option [value]="i">{{ address | uppercase }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Comprobante</mat-label>
                <mat-select formControlName="invoiceType">
                    @for (invoiceType of invoiceTypes; track $index) {
                        <mat-option [value]="invoiceType.code">
                            {{ invoiceType.name }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Medio de pago</mat-label>
                <mat-select formControlName="paymentMethodId">
                    @for (paymentMethod of paymentMethods; track paymentMethod._id) {
                        <mat-option [value]="paymentMethod._id">
                            {{ paymentMethod.name }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" *ngIf="setting.showWorker">
                <mat-label>Personal a cargo</mat-label>
                <mat-select formControlName="workerId">
                    @for (worker of workers; track $index) {
                        <mat-option [value]="worker._id">
                            {{ worker.name }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
            @if (setting.showEmitionAt) {
                <mat-form-field appearance="fill">
                    <mat-label>Fecha de emision</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="emitionAt">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            }
            @if (setting.showTotalDiscount) {
                <mat-form-field appearance="fill">
                    <mat-label>Descuento global</mat-label>
                    <input type="number" matInput formControlName="discount" (input)="onChangeDiscount()">
                </mat-form-field>
            }
            <mat-form-field appearance="fill">
                <mat-label>Observaciones</mat-label>
                <input type="text" matInput formControlName="observations">
            </mat-form-field>
            <div class="d-flex" *ngIf="setting.showChange">
                <mat-form-field appearance="fill">
                    <mat-label>Billete</mat-label>
                    <input type="number" class="text-center" #inputCash matInput formControlName="cash"
                        (input)="setCash(inputCash.value)">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Vuelto</mat-label>
                    <input type="number" class="text-center" matInput *ngIf="cash; else elseBlock" [value]="cashChange">
                    <ng-template #elseBlock>
                        <input type="number" class="text-center" matInput>
                    </ng-template>
                </mat-form-field>
            </div>
            <div class="my-2 d-flex" *ngIf="setting.showChange">
                <span class="spacer"></span>
                <button type="button" mat-fab color="warn" class="mx-1" (click)="resetCash()">
                    <mat-icon>delete</mat-icon>
                </button>
                <button type="button" mat-fab color="primary" class="mx-1" (click)="addCash(1)">
                    <span>1</span>
                </button>
                <button type="button" mat-fab color="primary" class="mx-1" (click)="addCash(5)">
                    <span>5</span>
                </button>
                <button type="button" mat-fab color="primary" class="mx-1" (click)="addCash(10)">
                    <span>10</span>
                </button>
                <button type="button" mat-fab color="primary" class="mx-1" (click)="addCash(20)">
                    <span>20</span>
                </button>
                <button type="button" mat-fab color="primary" class="mx-1" (click)="addCash(50)">
                    <span>50</span>
                </button>
                <button type="button" mat-fab color="primary" class="mx-1" (click)="addCash(100)">
                    <span>100</span>
                </button>
                <span class="spacer"></span>
            </div>
            <div class="p-1"></div>
            <button type="submit" class="w-100" mat-flat-button [disabled]="isLoading" color="primary">
                GUARDAR
            </button>
        </div>
    </form>
    <div class="flex-30 bg-white board-items">
        <app-board-items></app-board-items>
    </div>
</div>