<div class="container">
    <form [formGroup]="formGroup" autocomplete="off">
        <div class="d-flex">
            <div class="w-100">
                <mat-form-field appearance="fill">
                    <mat-label>Seleccione un rango de fechas</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Desde" formControlName="startDate">
                        <input matEndDate placeholder="Hasta" formControlName="endDate" (dateChange)="onRangeChange()">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
            <div formGroupName="provider" class="w-100">
                <mat-form-field appearance="fill">
                    <mat-label>Proveedor</mat-label>
                    <input type="text" matInput (click)="onDialogSearchProviders()" formControlName="name">
                </mat-form-field>
            </div>
        </div>
    </form>
    <div class="mat-elevation-z2">
        <table mat-table [dataSource]="dataSource" class="w-100">
            <ng-container matColumnDef="created">
                <th mat-header-cell *matHeaderCellDef>F. de registro</th>
                <td mat-cell *matCellDef="let element">{{ element.createdAt | date }}</td>
            </ng-container>
            <ng-container matColumnDef="charge">
                <th mat-header-cell *matHeaderCellDef>Monto</th>
                <td mat-cell *matCellDef="let element">{{ element.charge.toFixed(2) }}</td>
            </ng-container>
            <ng-container matColumnDef="paymentMethod">
                <th mat-header-cell *matHeaderCellDef>Medio</th>
                <td mat-cell *matCellDef="let element">{{ element.paymentMethod.name }}</td>
            </ng-container>
            <ng-container matColumnDef="provider">
                <th mat-header-cell *matHeaderCellDef>Proveedor</th>
                <td mat-cell *matCellDef="let element">{{ element.purchase.provider?.name || 'NINGUNO' }}</td>
            </ng-container>
            <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef>Usuario</th>
                <td mat-cell *matCellDef="let element">{{ element.user.name }}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="before">
                        <button mat-menu-item (click)="onOpenDetails(element.purchaseId)">
                            <mat-icon>info</mat-icon>
                            <span>Detalles</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                [ngClass]="{ 'bg-danger': row.deleted, 'bg-success': row.cdr && row.cdr.sunatCode === '0' }"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [pageIndex]="pageIndex"
            [length]="length" (page)="handlePageEvent($event)" showFirstLastButtons></mat-paginator>
    </div>
</div>