<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" autocomplete="off">
    <h2 mat-dialog-title>Buscar producto</h2>
    <mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>Buscar</mat-label>
            <input type="text" matInput formControlName="key">
        </mat-form-field>
        <mat-action-list>
            @for (product of products; track product._id) {
                <button mat-list-item (click)="onSelectProduct(product)">
                    <span matListItemTitle>{{ product.fullName }}</span>
                    <span matListItemLine>{{ product.price.toFixed(2) }}</span>
                </button>
            }
        </mat-action-list>
    </mat-dialog-content>
</form>