<div class="container">
    <form [formGroup]="formGroup" autocomplete="off" class="d-flex">
        <mat-form-field appearance="fill">
            <mat-label>Seleccione una fecha</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" (dateChange)="onDateChange()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Especialidad</mat-label>
            <mat-select formControlName="specialtyId" (selectionChange)="onChangeSpecialty()">
                <mat-option value="">TODAS LAS ESPECIALIDADES</mat-option>
                @for (specialty of filterSpecialties; track specialty._id) {
                    <mat-option [value]="specialty._id">
                        {{ specialty.name | uppercase }}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>
    </form>
    <div class="d-flex">
        <div class="flex-70 pr-2">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let element of filterEvents">
                    <mat-expansion-panel-header [ngClass]="{ 'bg-success': element.saleId }">
                        <mat-panel-title>
                            <span class="text-uppercase">
                                {{ element.scheduledAt | date: 'shortTime' }} - {{ element.customer.name }}
                            </span>
                            <span class="spacer"></span>
                            <span class="text-muted">{{ element.worker.name | uppercase }}</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <table class="w-100 my-3">
                        <tbody>
                            <tr>
                                <td>Nombres</td>
                                <td align="right">{{ element.customer.name }}</td>
                            </tr>
                            <tr>
                                <td>Documento</td>
                                <td align="right">
                                    {{ element.customer.documentType }}: {{ element.customer.document }}
                                </td>
                            </tr>
                            <tr>
                                <td>Celular</td>
                                <td align="right" [ngClass]="{ 'text-muted': !element.customer.mobileNumber}">{{ element.customer.mobileNumber || 'NINGUNO' }}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td align="right" [ngClass]="{ 'text-muted': !element.customer.email}">{{ element.customer.email || 'NINGUNO' }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <mat-divider></mat-divider>
                    <table class="w-100 my-3">
                        <tbody>
                            <tr>
                                <td>Usuario</td>
                                <td align="right" class="text-lowercase">{{ element.user.name }}</td>
                            </tr>
                            <tr>
                                <td>Specialidad</td>
                                <td align="right" class="text-lowercase">{{ element.specialty.name }}</td>
                            </tr>
                            <tr>
                                <td>Referido</td>
                                <td align="right" class="text-lowercase">{{ element.referred.name }}</td>
                            </tr>
                            <tr>
                                <td>Observaciones</td>
                                <td align="right" [ngClass]="{ 'text-muted': !element.observations}">{{ element.observations || 'NINGUNO' }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <mat-divider></mat-divider>
                    <mat-list role="list">
                        @for (eventItem of element.eventItems; track eventItem._id) {
                            <mat-list-item role="listitem">
                                <span matListItemTitle>{{ eventItem.fullName }} ({{ eventItem.quantity }})</span>
                                @if (eventItem.igvCode === igvType.BONIFICACION) {
                                    <span class="mr-2" [style.color]="'green'">Bonificacion</span>
                                }
                                @if (eventItem.igvCode === igvType.EXONERADO) {
                                    <span class="text-primary mr-2">Exonerado</span>
                                }
                                @if (eventItem.igvCode === igvType.INAFECTO) {
                                    <span class="text-primary mr-2">Inafecto</span>
                                }
                                <span matListItemLine>{{ eventItem.price.toFixed(2) }}</span>
                            </mat-list-item>
                        }
                    </mat-list>
                    @if (element.saleId) {
                        <div class="d-flex">
                            <span class="spacer"></span>
                            <button type="button" mat-raised-button color="primary" (click)="onExportEvent(element)">
                                EXP. CITA
                            </button>
                            <span class="divider"></span>
                            <button type="button" mat-raised-button color="primary" (click)="onChangeEventDate(element)">
                                M. FECHA
                            </button>
                            <span class="divider"></span>
                            <button type="button" mat-flat-button color="primary"
                                (click)="onOpenDetails(element.saleId)">DTA. VENTA</button>
                        </div>
                    } @else {
                        <div class="d-flex">
                            <span class="spacer"></span>
                            <button type="button" mat-raised-button color="primary"
                                (click)="onExportEvent(element)">EXP. CITA</button>
                            <span class="divider"></span>
                            <button type="button" mat-raised-button color="primary"
                                (click)="onDeleteEvent(element._id)">ELIMINAR</button>
                            <span class="divider"></span>
                            <button type="button" mat-raised-button color="primary"
                                [routerLink]="[ '/events', element._id, 'editItems' ]">EDITAR</button>
                            <span class="divider"></span>
                            <button type="button" mat-raised-button color="primary"
                                (click)="onChangeEventDate(element)">M. FECHA</button>
                            <span class="divider"></span>
                            <button type="button" mat-flat-button color="primary"
                                [routerLink]="[ '/events', element._id, 'charge' ]">COBRAR</button>
                        </div>
                    }
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="flex-30 pl-2">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Resumen</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <table class="w-100">
                        <tbody>
                            <ng-container *ngFor="let element of specialties">
                                <tr *ngIf="countEvents(element._id)">
                                    <td class="text-lowercase">{{ element.name }}</td>
                                    <td align="right">{{ countEvents(element._id) }}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </mat-card-content>
            </mat-card>
            <div class="py-2"></div>
        </div>
    </div>
    <div class="fixed-bottom p-3" style="right: 0; left: unset; width: auto;">
        <button mat-fab color="primary" class="float-right" routerLink="/events/createItems">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>