<div class="d-flex h-100">
    <form class="flex-70 d-flex align-items-center justify-content-center" (ngSubmit)="onSubmit()"
        [formGroup]="formGroup">
        <div class="px-3">
            <h2 class="text-center mat-display-small mb-0">{{ charge.toFixed(2) }}</h2>
            <p class="caption text-center text-muted mb-2">Total a comprar</p>
            <button type="button" mat-button color="primary" (click)="onEditProvider()" class="w-100">
                <span class="mat-h1">{{ provider?.name }}</span>
            </button>
            <p class="text-center m-0">{{ provider?.address }}</p>
            <p class="text-center mb-3">{{ provider?.mobileNumber }}</p>
            <mat-form-field appearance="fill">
                <mat-label>Observaciones</mat-label>
                <input type="text" matInput formControlName="observations">
            </mat-form-field>
            <button type="button" class="w-100" mat-flat-button [disabled]="isLoading" color="primary"
                (click)="onSubmit()">
                GUARDAR
            </button>
        </div>
    </form>
    <div class="flex-30 bg-white list-items">
        <app-purchase-order-items></app-purchase-order-items>
    </div>
</div>