<h2 mat-dialog-title>Historial de cambios</h2>
<mat-dialog-content>
    <mat-list>
        @for (version of versions; track version._id; let i = $index) {
        <h3 class="mat-title-medium">{{ i + 1 }} .- {{ version.createdAt | date:'dd MMM yyyy hh:mm a' }}</h3>
        @for (boardItem of version.boardItems; track boardItem._id) {
        <mat-list-item [ngClass]="{ 'bg-danger': boardItem.deletedAt }">
            <span matListItemTitle>{{ boardItem.fullName }} ({{ boardItem.quantity }})</span>
            <span matListItemLine>{{ boardItem.price.toFixed(2) }}</span>
            @if (boardItem.deletedAt) {
            <span matListItemLine>Anulados: {{ boardItem.deletedQuantity }}</span>
            }
        </mat-list-item>
        }
        }
    </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
    <span class="spacer"></span>
    <button mat-raised-button mat-dialog-close color="primary">VOLVER</button>
</mat-dialog-actions>