<div class="container">
    @if (turn) {
    <mat-card class="mb-3">
        <mat-card-header>
            <mat-card-title>Resumen</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list role="list">
                <mat-list-item>
                    <span matListItemTitle>F/H de apertura</span>
                    <span>{{ turn.createdAt | date: 'dd MMM yyyy, hh:mm a' }}</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Monto de apertura</span>
                    <span>{{ turn.openCash.toFixed(2) }}</span>
                </mat-list-item>
                @if (totalExpenses) {
                <mat-list-item>
                    <span matListItemTitle>Total gastos</span>
                    <span>{{ totalExpenses.toFixed(2) }}</span>
                </mat-list-item>
                }
                <mat-list-item>
                    <span matListItemTitle>Total recaudado</span>
                    <span>{{ (totalCollected).toFixed(2) }}</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle class="text-success">Efectivo final (Monto de apertura + Efectivo - Gastos)</span>
                    <span class="text-success">{{ (totalCash - totalExpenses + turn.openCash).toFixed(2) }}</span>
                </mat-list-item>
                @if (totalCredit) {
                <mat-list-item>
                    <span matListItemTitle>Total credito</span>
                    <span>{{ (totalCredit).toFixed(2) }}</span>
                </mat-list-item>
                }
                @if (totalDebt) {
                <mat-list-item>
                    <span matListItemTitle>Total pendiente de pago</span>
                    <span>{{ (totalDebt).toFixed(2) }}</span>
                </mat-list-item>
                }
                <mat-list-item>
                    <span matListItemTitle>Observaciones</span>
                    <span align="right" [ngClass]="{ 'text-muted': !turn.observations }">
                        {{ turn.observations || 'NINGUNO' }}
                    </span>
                </mat-list-item>
            </mat-list>
            <div class="pb-3">
                <mat-divider></mat-divider>
            </div>
            <table class="w-100">
                <tbody>
                    @for (summaryPayment of summaryPayments; track $index) {
                    <tr>
                        <td>{{ summaryPayment.paymentMethod.name }} ({{ summaryPayment.totalQuantity }})</td>
                        <td align="right">{{ summaryPayment.totalCharge.toFixed(2) }}</td>
                    </tr>
                    }
                </tbody>
            </table>
        </mat-card-content>
    </mat-card>
    <mat-card class="mb-3">
        <mat-card-header>
            <mat-card-title>Gastos</mat-card-title>
        </mat-card-header>
        <mat-action-list>
            @for (expense of expenses; track expense._id) {
            <button type="button" (click)="onEditExpense(expense)" class="m-1 text-uppercase" mat-list-item>
                {{ expense.concept }}
                <span class="spacer"></span>
                {{ expense.charge.toFixed(2) }}
            </button>
            } @empty {
            <mat-list-item>SIN GASTOS</mat-list-item>
            }
        </mat-action-list>
    </mat-card>
    <mat-card class="mb-3">
        <mat-card-header>
            <mat-card-title>Productos vendidos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <table class="w-100 mb-3">
                <tbody>
                    @for (summarySaleItem of summarySaleItems; track summarySaleItem._id) {
                    <tr>
                        <td>
                            {{ summarySaleItem.fullName | uppercase }} ({{ summarySaleItem.totalQuantity }})
                            @if (summarySaleItem.totalQuantityBonus) {
                            <span class="ml-3 text-success">
                                Bonificacion ({{ summarySaleItem.totalQuantityBonus }})
                            </span>
                            }
                        </td>
                        <td align="right">{{ summarySaleItem.totalSale.toFixed(2) }}</td>
                    </tr>
                    }
                </tbody>
            </table>
        </mat-card-content>
    </mat-card>
    <button type="button" (click)="onGetSummarySales()" mat-flat-button color="primary" class="w-100 mb-3">MOSTRAR
        PRODUCTOS VENDIDOS</button>
    <mat-card class="mb-3">
        <mat-card-header>
            <mat-card-title>Creditos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-action-list role="list">
                @for (credit of credits; track credit._id) {
                <button mat-list-item (click)="onShowSale(credit._id)">
                    <span matListItemTitle>{{ credit.invoicePrefix }}{{ office.serialPrefix }}-{{ credit.invoiceNumber
                        }}</span>
                    @if (credit.payments.length) {
                    <span matListItemLine>
                        @for (payment of credit.payments; track payment._id) {
                        @for (paymentMethod of paymentMethods; track paymentMethod._id) {
                        @if (paymentMethod._id === payment.paymentMethodId) {
                        <span>{{ paymentMethod.name }}: {{ payment.charge.toFixed(2) }}</span>
                        }
                        }
                        }
                    </span>
                    }
                    <span matListItemLine>{{ credit.user.name | uppercase }} - {{ credit.createdAt | date: 'dd/MM/yyyy'
                        }} - PENDIENTE: {{
                        (credit.debt).toFixed(2) }}
                    </span>
                </button>
                } @empty {
                <mat-list-item>SIN CREDITOS</mat-list-item>
                }
            </mat-action-list>
        </mat-card-content>
    </mat-card>
    <mat-card class="mb-3">
        <mat-card-header>
            <mat-card-title>Ventas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-action-list role="list">
                @for (sale of sales; track sale._id) {
                <button mat-list-item (click)="onShowSheet(sale._id)">
                    <span matListItemTitle>{{ sale.invoicePrefix }}{{ office.serialPrefix }}-{{ sale.invoiceNumber
                        }}</span>
                    @if (sale.payments.length) {
                    <span matListItemLine>
                        @for (payment of sale.payments; track payment._id) {
                        @for (paymentMethod of paymentMethods; track paymentMethod._id) {
                        @if (paymentMethod._id === payment.paymentMethodId) {
                        <span>{{ paymentMethod.name }}: {{ payment.charge.toFixed(2) }}</span>
                        }
                        }
                        }
                    </span>
                    }
                    <span matListItemLine>{{ sale.user.name | uppercase }} - {{ sale.createdAt | date: 'dd/MM/yyyy' }}
                    </span>
                </button>
                }
            </mat-action-list>
        </mat-card-content>
    </mat-card>
    <button type="button" (click)="onGetAllSales()" mat-flat-button color="primary" class="w-100">
        MOSTRAR TODAS LAS VENTAS
    </button>
    }
</div>