<mat-action-list>
    @for (purchaseSupplyItem of purchaseSupplyItems; track purchaseSupplyItem.supplyId; let i = $index) {
    <button type="button" mat-list-item (click)="onClickPurchaseItem(i)">
        <div class="d-flex flex-column">
            {{ purchaseSupplyItem.fullName }}
            <div class="d-flex mat-caption">
                <span class="mr-2" [style.color]="'green'" [hidden]="purchaseSupplyItem.igvCode !== '11'">bonificacion</span>
            </div>
        </div>
        <span class="divider"></span>
        <span class="text-muted">x{{ purchaseSupplyItem.quantity }}</span>
        <span class="spacer"></span>
        <div class="ml-2">
            {{ (purchaseSupplyItem.cost * purchaseSupplyItem.quantity).toFixed(2) }}
        </div>
    </button>
    }
    <mat-list-item role="listitem">
        <div class="d-flex font-weight-bold">
            Total
            <span class="spacer"></span>
            {{ charge.toFixed(2) }}
        </div>
    </mat-list-item>
</mat-action-list>