<form (ngSubmit)="onSubmit()" [formGroup]="formGroup" autocomplete="off">
    <h2 mat-dialog-title>Reducir stock</h2>
    <div mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>Cantidad</mat-label>
            <input type="number" matInput formControlName="quantity">
        </mat-form-field>
        <!-- <mat-form-field appearance="fill">
            <mat-label>Seleccione un motivo</mat-label>
            <mat-select formControlName="incidentType">
                @for (incidentType of incidentTypes; track $index) {
                <mat-option [value]="incidentType">{{ incidentType }}</mat-option>
                }
            </mat-select>
        </mat-form-field> -->
        <mat-form-field appearance="fill">
            <mat-label>Observaciones</mat-label>
            <input type="text" matInput formControlName="observations">
        </mat-form-field>
    </div>
    <mat-dialog-actions>
        <span class="spacer"></span>
        <button mat-raised-button mat-dialog-close color="primary" [disabled]="isLoading">CANCELAR</button>
        <button type="submit" mat-flat-button color="primary" [disabled]="isLoading">GUARDAR</button>
    </mat-dialog-actions>
</form>