<mat-action-list>
    <button type="button" mat-list-item (click)="onExportPdf('a4')">
        <mat-icon class="color-black" matListItemIcon>download</mat-icon>
        <span matListItemTitle>Exportar PDF A4</span>
    </button>

    <button type="button" mat-list-item (click)="onExportPdf('a5')">
        <mat-icon class="color-black" matListItemIcon>download</mat-icon>
        <span matListItemTitle>Exportar PDF A5</span>
    </button>

    <button type="button" mat-list-item (click)="onExportPdf('ticket80mm')">
        <mat-icon class="color-black" matListItemIcon>download</mat-icon>
        <span matListItemTitle>Exportar PDF Ticket 80mm</span>
    </button>

    <button type="button" mat-list-item (click)="onExportPdf('ticket58mm')">
        <mat-icon class="color-black" matListItemIcon>download</mat-icon>
        <span matListItemTitle>Export PDF Ticket 50mm</span>
    </button>
</mat-action-list>