<mat-dialog-content>
    @if (customer) {
    <table class="my-3 w-100">
        <tr>
            <td>Nombres/Razon social:</td>
            <td align="right">{{ customer.name }}</td>
        </tr>
        <tr>
            <td>Documento:</td>
            <td align="right">{{ customer.documentType }}: {{ customer.document }}</td>
        </tr>
        <tr>
            <td>Celular:</td>
            <td align="right" [ngClass]="{ 'text-muted': !customer.mobileNumber }">
                {{ customer.mobileNumber || 'NINGUNO' }}
            </td>
        </tr>
        @for (address of customer.addresses; track i; let i = $index) {
        <tr>
            <td>Direccion {{ i + 1 }}:</td>
            <td align="right">
                {{ address }}
            </td>
        </tr>
        }
        <tr>
            <td>Observaciones:</td>
            <td align="right" [ngClass]="{ 'text-muted': !customer.observations }">
                {{ customer.observations || 'NINGUNO' }}
            </td>
        </tr>
    </table>
    }
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="primary">VOLVER</button>
</mat-dialog-actions>