<section class="container">
    <mat-card class="mb-3">
        <mat-card-header>
            <mat-card-title>Resumen</mat-card-title>
        </mat-card-header>
        <table>
            <tbody>
                <tr class="text-primary">
                    <td width="300">Stock Actual</td>
                    <td>{{ (supply?.stock || 0).toFixed(2) }}</td>
                </tr>
            </tbody>
        </table>
    </mat-card>
    <div class="d-flex">
        <mat-card class="w-100">
            <div class="d-flex flex-row">
                <mat-icon class="m-1">download</mat-icon>
                <h2 class="mat-title-large">Compras</h2>
                <span class="spacer"></span>
                <h2 class="mat-title-large">{{ purchaseSupplyItemsQuantity }}</h2>
            </div>
            <mat-action-list>
                <button type="button" class="m-1" mat-list-item *ngFor="let purchaseSupplyItem of purchaseSupplyItems"
                    (click)="onPurchaseSupplyDetail(purchaseSupplyItem.purchaseSupplyId)">
                    {{ purchaseSupplyItem.createdAt | date }}
                    <span class="spacer"></span>
                    {{ purchaseSupplyItem.quantity.toFixed(2) }}
                </button>
            </mat-action-list>
        </mat-card>
        <span class="p-2"></span>
        <mat-card class="w-100">
            <div class="d-flex flex-row">
                <mat-icon class="m-1">upload</mat-icon>
                <h2 class="mat-title-large">Ventas</h2>
                <span class="spacer"></span>
                <h2 class="mat-title-large">{{ saleSupplyItemsQuantity }}</h2>
            </div>
            <mat-action-list>
                <button type="button" class="m-1" mat-list-item *ngFor="let saleSupplyItem of saleSupplyItems"
                    (click)="onSaleSupplyDetail(saleSupplyItem.saleId)">
                    {{ saleSupplyItem.createdAt | date }}
                    <span class="spacer"></span>
                    {{ saleSupplyItem.quantity.toFixed(2) }}
                </button>
            </mat-action-list>
        </mat-card>
        <span class="p-2"></span>
        <mat-card class="w-100">
            <div class="d-flex flex-row">
                <mat-icon class="m-1">upload</mat-icon>
                <h2 class="mat-title-large">Incidencias</h2>
                <span class="spacer"></span>
                <h2 class="mat-title-large">{{ incidentSupplyItemsQuantity }}</h2>
            </div>
            <mat-action-list>
                <button type="button" class="m-1" mat-list-item *ngFor="let incidentSupplyItem of incidentSupplyItems"
                    (click)="onIncidentSupplyDetail(incidentSupplyItem.incidentSupplyId)">
                    {{ incidentSupplyItem.createdAt | date }}
                    <span class="spacer"></span>
                    {{ incidentSupplyItem.quantity.toFixed(2) }}
                </button>
            </mat-action-list>
        </mat-card>
    </div>
</section>