<h2 mat-dialog-title>
    Detalles Cliente
</h2>
<div mat-dialog-content>
    <mat-list class="m-0">
        @if (customer) {
            <mat-list-item>
                Nombres:
                <span class="spacer"></span>
                {{ customer.name }}
            </mat-list-item>
            <mat-list-item>
                {{ customer.documentType }}:
                <span class="spacer"></span>
                {{ customer.document }}
            </mat-list-item>
            @for (address of customer.addresses; track i; let i = $index) {
                <mat-list-item>
                    Direccion {{ i + 1 }}:
                    <span class="spacer"></span>
                    {{ address }}
                </mat-list-item>
            }
            <mat-list-item>
                Distrito:
                <span class="spacer"></span>
                {{ customer.locationName }}
            </mat-list-item>
            <mat-list-item>
                Telefono:
                <span class="spacer"></span>
                {{ customer.mobileNumber || 'NINGUNO' }}
            </mat-list-item>
            <mat-list-item class="text-muted">
                ID:
                <span class="spacer"></span>
                {{ customer._id }}
            </mat-list-item>
        }
    </mat-list>
    <mat-divider class="mb-0"></mat-divider>