<mat-action-list>
    <button type="button" mat-list-item (click)="onPrintA4()">
        <mat-icon matListItemIcon class="color-black">printer</mat-icon>
        <span matListItemTitle>Imprimir A4</span>
    </button>
    <button type="button" mat-list-item (click)="onPrintA4Image()">
        <mat-icon matListItemIcon class="color-black">printer</mat-icon>
        <span matListItemTitle>Imprimir A4 con imagenes</span>
    </button>
    <button type="button" mat-list-item (click)="onPrintTicket()">
        <mat-icon matListItemIcon class="color-black">printer</mat-icon>
        <span matListItemTitle>Imprimir Ticket 80mm</span>
    </button>
</mat-action-list>