<h2 mat-dialog-title>Comprobantes observados</h2>
<mat-dialog-content>
    <mat-list role="list">
        @for (badCdr of badCdrs; track badCdr._id) {
        <mat-list-item>
            <span matListItemTitle>{{ badCdr.sale.invoicePrefix }}{{ office.serialPrefix }}-{{ badCdr.sale.invoiceNumber
                }}</span>
            <span>{{ badCdr.sunatMessage }}</span>
        </mat-list-item>
        }
    </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
    <span class="spacer"></span>
    <button mat-flat-button mat-dialog-close color="primary">ACEPTAR</button>
</mat-dialog-actions>