<mat-action-list>
    @for (billItem of billItems; track i; let i = $index) {
        <button mat-list-item (click)="onSelectBillItem(i)">
            <span matListItemTitle>{{ billItem.fullName }}</span>
            <div matListItemLine class="d-flex my-1">
                <span class="mr-2">x{{ billItem.quantity }}</span>
                @if (billItem.igvCode === igvType.BONIFICACION) {
                    <span class="mr-2" [style.color]="'green'">Bonificacion</span>
                }
                @if (billItem.igvCode === igvType.EXONERADO) {
                    <span class="text-primary mr-2">Exonerado</span>
                }
                @if (billItem.igvCode === igvType.INAFECTO) {
                    <span class="text-primary mr-2">Inafecto</span>
                }
                <span class="spacer"></span>
                <span>{{ (billItem.price * billItem.quantity).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}</span>
            </div>
        </button>
    }
    <button mat-list-item>
        <div matListItemTitle class="d-flex font-weight-bold">
            <span>
                Total
            </span>
            <span class="spacer"></span>
            <span>
                {{ charge.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
            </span>
        </div>
    </button>
</mat-action-list>