@let customer = $customer();
@let setting = $setting();
@let turn = $turn();
<div class="d-flex">
    <form class="flex-70 d-flex align-items-center justify-content-center" (ngSubmit)="onSubmit()"
        [formGroup]="formGroup" autocomplete="off">
        <div class="px-3">
            <h2 class="text-center mat-display-small mb-0">{{ $charge().toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}</h2>
            <p class="caption text-center text-muted mb-2">Total a cobrar</p>
            @if (turn && $isYesterdayTurn()) {
                <div class="bg-warning rounded">
                    <p class="caption text-center text-muted mb-2">Estas usando una caja de una fecha anterior {{ turn.createdAt | date }}</p>
                </div>
            }
            @if (customer) {
            <button type="button" mat-button color="primary" (click)="onEditCustomer()" class="w-100">
                <span>{{ customer.name | uppercase }}</span>
            </button>
            @if (customer.formatPhone) {
            <p class="text-center">Celular: {{ customer.formatPhone || 'NINGUNO' }}</p>
            }
            <p class="text-center">Direccion: {{ customer.address || 'NINGUNO' }}</p>
            }
            <mat-form-field appearance="fill">
                <mat-label>Comprobante</mat-label>
                <mat-select formControlName="invoiceCode">
                    @for (invoiceCode of invoiceCodes; track $index) {
                    <mat-option [value]="invoiceCode.code">
                        {{ invoiceCode.name }}
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Medio de pago</mat-label>
                <mat-select formControlName="paymentMethodId">
                    @for (paymentMethod of $paymentMethods(); track paymentMethod.id) {
                    <mat-option [value]="paymentMethod.id">
                        {{ paymentMethod.name }}
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>
            @if (setting.isShowEmitionAt) {
            <mat-form-field appearance="fill">
                <mat-label>Fecha de emision</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="createdAt">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            }
            @if (setting.isShowTotalDiscount) {
            <mat-form-field appearance="fill">
                <mat-label>Descuento global</mat-label>
                <input type="number" matInput formControlName="discount" (input)="onChangeDiscount()">
            </mat-form-field>
            }
            @if (setting.isShowTotalDiscountPercent) {
            <mat-form-field appearance="fill">
                <mat-label>Descuento global (Porcentaje)</mat-label>
                <input type="number" matInput formControlName="discountPercent" (input)="onChangeDiscountPercent()">
            </mat-form-field>
            }
            <mat-form-field appearance="fill">
                <mat-label>Observaciones</mat-label>
                <input type="text" matInput formControlName="observation">
            </mat-form-field>
            @if (setting.isShowChange) {
            <div class="d-flex">
                <mat-form-field appearance="fill">
                    <mat-label>Billete</mat-label>
                    <input type="number" class="text-center" #inputCash matInput formControlName="cash"
                        (input)="setCash(inputCash.value)">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Vuelto</mat-label>
                    @if (cash) {
                        <input type="number" class="text-center" matInput [value]="cashChange">
                    } @else {
                        <input type="number" class="text-center" matInput>
                    }
                </mat-form-field>
            </div>
            <div class="my-2 d-flex">
                <span class="spacer"></span>
                <button type="button" mat-fab color="warn" class="mx-1" (click)="resetCash()">
                    <mat-icon>delete</mat-icon>
                </button>
                <button type="button" mat-fab color="primary" class="mx-1" (click)="addCash(1)">
                    <span>1</span>
                </button>
                <button type="button" mat-fab color="primary" class="mx-1" (click)="addCash(5)">
                    <span>5</span>
                </button>
                <button type="button" mat-fab color="primary" class="mx-1" (click)="addCash(10)">
                    <span>10</span>
                </button>
                <button type="button" mat-fab color="primary" class="mx-1" (click)="addCash(20)">
                    <span>20</span>
                </button>
                <button type="button" mat-fab color="primary" class="mx-1" (click)="addCash(50)">
                    <span>50</span>
                </button>
                <button type="button" mat-fab color="primary" class="mx-1" (click)="addCash(100)">
                    <span>100</span>
                </button>
                <span class="spacer"></span>
            </div>
            }
            <div class="p-1"></div>
            <button type="submit" class="w-100" mat-flat-button [disabled]="$isLoading()" color="primary">
                GUARDAR
            </button>
        </div>
    </form>
    <div class="flex-30 bg-white board-items">
        <app-board-items></app-board-items>
    </div>
</div>
