<form (ngSubmit)="onSubmit()" [formGroup]="formGroup" autocomplete="off">
    <h2 mat-dialog-title>Introdusca su contraseña</h2>
    <div mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input [type]="hide ? 'password' : 'text'" matInput formControlName="password">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <mat-dialog-actions>
        <span class="spacer"></span>
        <button mat-raised-button mat-dialog-close color="primary">CANCELAR</button>
        <button type="submit" mat-flat-button color="primary" [disabled]="isLoading">GUARDAR</button>
    </mat-dialog-actions>
</form>