<div class="d-flex h-100">
    <form class="flex-70 d-flex align-items-center justify-content-center" (ngSubmit)="onSubmit()"
        [formGroup]="formGroup">
        <div class="px-3">
            <mat-form-field appearance="fill">
                <mat-label>Sucursal de origen</mat-label>
                <mat-select formControlName="officeId" [disabled]="true">
                    @for (office of offices; track $index) {
                    <mat-option [value]="office._id">{{ office.name | uppercase }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Sucursal de destino</mat-label>
                <mat-select formControlName="toOfficeId">
                    @for (office of offices; track $index) {
                    <mat-option [value]="office._id">{{ office.name | uppercase }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Observaciones</mat-label>
                <input type="text" matInput formControlName="observations">
            </mat-form-field>
            <button type="button" class="w-100" mat-flat-button [disabled]="isLoading" color="primary"
                (click)="onSubmit()">
                GUARDAR
            </button>
        </div>
    </form>
    <div class="flex-30 bg-white list-items">
        <app-move-items></app-move-items>
    </div>
</div>