<mat-action-list>
    <button type="button" mat-list-item (click)="onPrint('a4')">
        <mat-icon matListItemIcon class="color-black">printer</mat-icon>
        <span matListItemTitle>Imprimir A4</span>
    </button>
    <button type="button" mat-list-item (click)="onPrint('a5')">
        <mat-icon matListItemIcon class="color-black">printer</mat-icon>
        <span matListItemTitle>Imprimir A5</span>
    </button>
    <button type="button" mat-list-item (click)="onPrint('ticket80mm')">
        <mat-icon matListItemIcon class="color-black">printer</mat-icon>
        <span matListItemTitle>Imprimir Ticket 80mm</span>
    </button>
    <button type="button" mat-list-item (click)="onPrint('ticket58mm')">
        <mat-icon matListItemIcon class="color-black">printer</mat-icon>
        <span matListItemTitle>Imprimir Ticket 58mm</span>
    </button>
</mat-action-list>