<mat-card class="m-3">
    <div class="d-flex flex-row">
        <h2 class="mat-title-large">Comprobantes</h2>
        <span class="spacer"></span>
        <div>
            <mat-form-field appearance="fill" class="text-uppercase my-form-field">
                <mat-select [(value)]="officeId" (selectionChange)="onChange()">
                    <mat-option value="">TODAS LAS SUCURSALES</mat-option>
                    @for (office of offices; track office._id) {
                        <mat-option [value]="office._id">
                            {{ office.name | uppercase }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <mat-card-content>
        <div class="d-flex">
            <div class="flex-50">
                <canvas #deliveryChart></canvas>
            </div>
            <div class="flex-50">
                <mat-list role="list">
                    @for (summaryInvoice of summaryInvoices; track $index) {
                        <mat-list-item role="listitem">
                            {{ summaryInvoice._id }}
                            <span class="spacer"></span>
                            {{ summaryInvoice.charge.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
                        </mat-list-item>
                    }
                </mat-list>
            </div>
        </div>
    </mat-card-content>
</mat-card>