<h2 mat-dialog-title>
    Detalles T{{ office.serialPrefix }}-{{ remissionGuide?.remissionGuideNumber }}
    @if (remissionGuide?.deletedAt) {
    <span class="ml-2 text-danger">ANULADO</span>
    }
</h2>
<div mat-dialog-content>
    <mat-list>
        @for (remissionGuideItem of remissionGuideItems; track remissionGuideItem.productId) {
        <mat-list-item class="px-0">
            <span matListItemTitle>{{ remissionGuideItem.fullName }}</span>
            <span>{{ remissionGuideItem.quantity }}</span>
        </mat-list-item>
        }
    </mat-list>
    <mat-divider></mat-divider>
    @if (carrier) {
        <mat-list>
            <mat-list-item class="px-0">
                <span matListItemTitle>Documento</span>
                <span>{{ carrier.documentType }}: {{ carrier.document }}</span>
            </mat-list-item>
            <mat-list-item class="px-0">
                <span matListItemTitle>Nombre/Razon social</span>
                <span>{{ carrier.name }}</span>
            </mat-list-item>
            <mat-list-item class="px-0">
                <span matListItemTitle>N° de placa</span>
                <span>{{ carrier.carriagePlate }}</span>
            </mat-list-item>
            <mat-list-item class="px-0">
                <span matListItemTitle>N° de licencia de conducir</span>
                <span>{{ carrier.licenseNumber }}</span>
            </mat-list-item>
        </mat-list>
    }
    <mat-divider></mat-divider>
    <table class="w-100">
        <tbody>
            <tr>
                <td width="100">F/H. emision</td>
                <td align="right">{{ remissionGuide?.createdAt | date: 'medium' }}</td>
            </tr>
            <tr>
                <td>Observaciones</td>
                <td align="right" [ngClass]="{ 'text-muted': !remissionGuide?.observations }">
                    {{ remissionGuide?.observations || 'NINGUNO' }}
                </td>
            </tr>
            <tr>
                <td>Usuario</td>
                <td align="right">{{ user.name }}</td>
            </tr>
            <tr class="text-muted">
                <td>ID</td>
                <td align="right">{{ remissionGuide?._id }}</td>
            </tr>
            @if (cdr) {
            <tr class="text-primary">
                <td>Mensaje Sunat</td>
                <td align="right">{{ cdr.sunatMessage }}</td>
            </tr>
            }
        </tbody>
    </table>
</div>
<mat-dialog-actions>
    <span class="spacer"></span>
    <button mat-raised-button mat-dialog-close color="primary">VOLVER</button>
</mat-dialog-actions>