<div class="d-flex" style="padding-bottom: 60px;">
    <div class="flex-70">
        <mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="selectedIndex = $event"
            animationDuration="0ms">
            <mat-tab>
                <ng-template mat-tab-label>
                    Favoritos
                </ng-template>
                <mat-grid-list [cols]="gridListCols" rowHeight="4:2" class="text-uppercase text-center">
                    @for (product of favorites; track product._id) {
                    <mat-grid-tile (click)="onSelectProduct(product, $event)" (contextmenu)="onRightClick(product)"
                        [ngStyle]="urlImage(product)">
                        <span class="bg-lightblue px-1">
                            {{ product.fullName.slice(0, 60) }}
                        </span>
                        <small class="text-muted text-price">
                            {{ product.price.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
                        </small>
                    </mat-grid-tile>
                    }
                </mat-grid-list>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    Categorias
                </ng-template>
                <mat-grid-list [cols]="gridListCols" rowHeight="4:2" class="text-uppercase text-center">
                    @for (category of categories; track category._id) {
                    <mat-grid-tile (click)="onSelectCategory(category)" [style.background]="category.color">
                        <span class="px-1">
                            {{ category.name.slice(0, 60) }}
                        </span>
                    </mat-grid-tile>
                    }
                </mat-grid-list>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    Busqueda
                </ng-template>
                <mat-grid-list [cols]="gridListCols" rowHeight="4:2" class="text-uppercase text-center">
                    @for (product of products; track product._id) {
                    <mat-grid-tile (click)="onSelectProduct(product, $event)" (contextmenu)="onRightClick(product)"
                        [ngStyle]="urlImage(product)">
                        <span class="bg-lightblue px-1">
                            {{ product.fullName.slice(0, 60) }}
                        </span>
                        <span class="text-muted text-price">
                            {{ product.price.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
                        </span>
                    </mat-grid-tile>
                    }
                </mat-grid-list>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="flex-30 bg-white sale-items">
        <app-sale-items></app-sale-items>
    </div>
    <div class="fixed-bottom d-flex align-items-center footer-button">
        <div class="px-3">
            @if (setting.defaultPrice === 'LISTA' || setting.defaultPrice === 'LISTAOFICINA') {
                <mat-form-field appearance="fill">
                    <mat-select [(value)]="priceListId" (selectionChange)="onChangePriceList()">
                        @for (priceList of priceLists; track $index) {
                            <mat-option [value]="priceList._id">{{ priceList.name }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            }
        </div>
        <!-- @if (coupons.length) {
            <div>
                <button type="button" mat-raised-button color="primary" (click)="onDialogCoupons()">CUPONES {{ coupons.length }}</button>
            </div>
        } -->
        <span class="spacer"></span>
        <div class="p-3">
            <span class="divider"></span>
            <button type="button" mat-flat-button color="primary" [routerLink]="[ '/charge', saleId, 'edit' ]"
                [disabled]="isLoading">GUARDAR</button>
        </div>
    </div>
</div>