<app-print-iframe></app-print-iframe>
<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-sidenav (sidenavClose)="sidenav.close()"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        @if (isOffline) {
            <div class="bg-warning">
                <h2 class="text-center mb-0 mat-title-medium">Sin conexion a internet</h2>
            </div>
        }
        <app-toolbar (sidenavToggle)="sidenav.toggle()"></app-toolbar>
        @if (isStart) {
            <main>
                <router-outlet></router-outlet>
            </main>
        }
    </mat-sidenav-content>
</mat-sidenav-container>