<section class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" autocomplete="off">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input type="text" matInput formControlName="name">
        </mat-form-field>
        <div class="d-flex">
            <span class="spacer"></span>
            <div class="py-3">
                <button type="button" mat-raised-button routerLink="/activities" color="primary">CANCELAR</button>
                <span class="divider"></span>
                <button type="submit" [disabled]="isLoading" mat-flat-button color="primary">GUARDAR</button>
            </div>
        </div>
    </form>
</section>