<div class="container gravity-center">
    <div style="width: 100%;">
        <div class="text-center mb-1">
            <mat-icon class="material-icons md-48">warning</mat-icon>
        </div>
        <h2 class="text-center mb-0 mat-display-small">Es necesario renovar la suscripcion</h2>
        <p class="text-center">Contacte al soporte tecnico: 930 430 929</p>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Medios de pago</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <table class="w-100">
                    <tbody>
                        <tr>
                            <td>Banco de credito BCP</td>
                            <td align="right">191-93002668-0-87</td>
                        </tr>
                        <tr>
                            <td>Interbank</td>
                            <td align="right">8983151207750</td>
                        </tr>
                        <tr>
                            <td>BBVA</td>
                            <td align="right">0011-0284-0200643262</td>
                        </tr>
                        <tr>
                            <td>Yape / Plin</td>
                            <td align="right">930 430 929</td>
                        </tr>
                    </tbody>
                </table>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-content class="pt-4">
                <p class="text-center mb-0">Todas las cuentas a estan a nombre del administrador</p>
                <p class="text-center">KELVIN EDGAR ROMANI OLLERO</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>