<h2 mat-dialog-title>{{ product.fullName }}</h2>
<mat-list role="list">
    @if (product.description) {
        <mat-list-item role="listitem">
            {{ product.description }}
        </mat-list-item>
    }
    @if (product.location) {
        <mat-list-item role="listitem">
            Ubicacion: {{ product.location }}
        </mat-list-item>
    }
    @if (product.isTrackStock) {
        <mat-list-item role="listitem">
            @if (product.stock > 0) {
                <span>
                    Stock: {{ product.stock.toFixed(2) }}
                </span>
            }
            @if (product.stock <= 0) {
                <span>
                    Stock: <span class="text-danger">Agotado</span>
                </span>
            }
        </mat-list-item>
    } @else {
        <mat-list-item role="listitem">
            Stock: Venta libre
        </mat-list-item>
    }
</mat-list>
<mat-dialog-actions>
    <span class="spacer"></span>
    @if (isFavorite) {
        <button mat-flat-button mat-dialog-close (click)="onDeleteFavorites()" color="primary">
            REMOVER DE FAVORITOS
        </button>
    } @else {
        <button mat-flat-button mat-dialog-close (click)="onCreateFavorites()" color="primary">
            AGREGAR A FAVORITOS
        </button>
    }
    <button mat-raised-button mat-dialog-close color="primary">VOLVER</button>
</mat-dialog-actions>