<div mat-dialog-content>
    @if (annotations.length) {
    <mat-selection-list>
        @if (annotations.length) {
        <div mat-subheader>Anotaciones rapidas</div>
        }
        @for (annotation of annotations; track annotation) {
        <mat-list-option (click)="onSelectAnnotation(annotation)">{{ annotation }}</mat-list-option>
        }
        @if (products.length) {
        <div mat-subheader>Productos vinculados</div>
        }
        @if (products.length) {
        <mat-selection-list>
            @for (product of products; track product._id) {
            <mat-list-option (click)="onSelectProduct(product)">{{ product.fullName }}</mat-list-option>
            }
        </mat-selection-list>
        }
    </mat-selection-list>
    }
</div>
<mat-dialog-actions>
    <span class="spacer"></span>
    <button mat-raised-button mat-dialog-close color="primary">CANCELAR</button>
    <button type="button" mat-flat-button color="primary" (click)="onSubmit()">GUARDAR</button>
</mat-dialog-actions>