<h2 mat-dialog-title>
    {{ sale?.invoicePrefix }}{{ office?.serialPrefix }}-{{ sale?.invoiceNumber }}
    <span class="ml-2 text-danger" *ngIf="sale?.deletedAt">ANULADO</span>
</h2>
<h4 class="text-danger">Opciones de administrador</h4>
<div mat-dialog-content>
    <table class="w-100">
        <tbody>
            <tr>
                <td>F/H venta</td>
                <td align="right">{{ sale?.createdAt | date: 'medium' }}</td>
            </tr>
            <tr>
                <td>Usuario</td>
                <td align="right">{{ user?.name }}</td>
            </tr>
            <tr class="text-muted">
                <td>ID</td>
                <td align="right">{{ sale?._id }}</td>
            </tr>
            <tr class="text-muted" *ngIf="cdr">
                <td>ID Cdr</td>
                <td align="right">{{ cdr._id }}</td>
            </tr>
            <tr class="text-muted" *ngIf="ticket">
                <td>ID Ticket</td>
                <td align="right">{{ ticket._id }}</td>
            </tr>
            <tr class="text-muted">
                <td>ID Empresa</td>
                <td align="right">{{ sale?.businessId }}</td>
            </tr>
            <tr *ngIf="sale?.cdr" class="text-primary">
                <td>Mensaje Sunat</td>
                <td align="right">{{ sale?.cdr?.sunatMessage }}</td>
            </tr>
        </tbody>
    </table>
    <mat-divider class="my-3"></mat-divider>
    <form [formGroup]="formDate" autocomplete="off" (submit)="onSubmitDate()" class="d-flex">
        <mat-form-field appearance="fill">
            <mat-label>Fecha emision</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="createdAt">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="ml-3">
            <button mat-flat-button color="primary" type="submit">GUARDAR</button>
        </div>
    </form>
    <form [formGroup]="formGroup" autocomplete="off" (submit)="onSubmit()" class="d-flex">
        <mat-form-field appearance="fill">
            <mat-label>Correlativo</mat-label>
            <input type="number" matInput formControlName="invoiceNumber">
        </mat-form-field>
        <div class="ml-3">
            <button mat-flat-button color="primary" type="submit">GUARDAR</button>
        </div>
    </form>
    <form [formGroup]="formCdr" autocomplete="off" (submit)="onSubmitCdr()" class="d-flex">
        <mat-form-field appearance="fill">
            <mat-label>Codigo Cdr</mat-label>
            <input type="text" matInput formControlName="sunatCode">
        </mat-form-field>
        <div class="ml-3">
            <button mat-flat-button color="primary" type="submit">GUARDAR</button>
        </div>
    </form>
    <form [formGroup]="formTicket" autocomplete="off" (submit)="onSubmitTicket()" class="d-flex">
        <mat-form-field appearance="fill">
            <mat-label>Codigo Ticket</mat-label>
            <input type="text" matInput formControlName="sunatCode">
        </mat-form-field>
        <div class="ml-3">
            <button mat-flat-button color="primary" type="submit">GUARDAR</button>
        </div>
    </form>
    <button mat-flat-button color="primary" type="button" (click)="onUndelete()">REVERTIR ANULADO</button>
    <span class="divider"></span>
    <a [href]="'/biller/' + sale._id + '/edit'" target="_blank" mat-flat-button color="primary"
        *ngIf="sale && sale.isBiller">EDITAR</a>
    <a [href]="'/posStandard/' + sale._id + '/edit'" target="_blank" mat-flat-button color="primary"
        *ngIf="sale && !sale.isBiller">EDITAR</a>
    <span class="divider"></span>
    <button mat-flat-button color="primary" type="button" (click)="onDeleteInvoice()">COMUNICAR DE BAJA</button>
</div>
<mat-dialog-actions>
    <button type="button" *ngIf="sale != null" mat-raised-button color="primary" (click)="onDeleteSale()">ELIM.
        VENTA</button>
    <button type="button" *ngIf="data.saleIds.length" mat-raised-button color="primary" (click)="onDeleteSales()">ELIM.
        VENTAS</button>
    <button type="button" *ngIf="ticket != null" mat-raised-button color="primary" (click)="onDeleteTicket()">ELIM.
        TICKET</button>
    <button type="button" *ngIf="cdr != null" mat-raised-button color="primary" (click)="onDeleteCdr()">ELIM.
        CDR</button>
    <button type="button" *ngIf="cdrTicket != null" mat-raised-button color="primary"
        (click)="onDeleteCdrTicket()">ELIM. CDRT</button>
    <span class="spacer"></span>
    <button mat-raised-button mat-dialog-close color="primary">VOLVER</button>
</mat-dialog-actions>