<div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" autocomplete="off">
        <mat-form-field appearance="fill">
            <mat-label>Banco</mat-label>
            <mat-select formControlName="bankName">
                <mat-option value="BCP">BCP</mat-option>
                <mat-option value="BBVA">BBVA</mat-option>
                <mat-option value="INTERBANK">INTERBANK</mat-option>
                <mat-option value="SCOTIABANK">SCOTIABANK</mat-option>
                <mat-option value="BANCO DE LA NACION">BANCO DE LA NACION</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Moneda</mat-label>
            <mat-select formControlName="currencyCode">
                <mat-option value="PEN">SOLES</mat-option>
                <mat-option value="USD">DOLARES</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>N° de cuenta</mat-label>
            <input type="text" matInput formControlName="accountNumber">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>N° de cuenta CCI</mat-label>
            <input type="text" matInput formControlName="cci">
        </mat-form-field>
        <mat-slide-toggle formControlName="isDetraction">
            Es cuenta de detracciones
        </mat-slide-toggle>
        <div class="d-flex">
            <span class="spacer"></span>
            <button type="button" mat-raised-button routerLink="/banks" color="primary">CANCELAR</button>
            <span class="divider"></span>
            <button type="submit" [disabled]="isLoading" mat-flat-button color="primary">GUARDAR</button>
        </div>
    </form>
</div>