@let provider = $provider();
<div class="d-flex h-100">
    <form class="flex-70 d-flex align-items-center justify-content-center" (ngSubmit)="onSubmit()"
        [formGroup]="formGroup">
        <div class="px-3">
            <h2 class="text-center mat-display-small mb-0">{{ $charge().toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}</h2>
            <p class="caption text-center text-muted mb-2">Total a comprar</p>
            @if (provider) {
            <button type="button" mat-button color="primary" (click)="onEditProvider()" class="w-100">
                <span>{{ provider.name | uppercase }}</span>
            </button>
            @if (provider.formatPhone) {
            <p class="text-center">Celular: {{ provider.formatPhone || 'NINGUNO' }}</p>
            }
            <p class="text-center">Direccion: {{ provider.address || 'NINGUNO' }}</p>
            }
            <mat-form-field appearance="fill">
                <mat-label>Comprobante</mat-label>
                <mat-select formControlName="invoiceCode">
                    @for (invoiceCode of invoiceCodes; track $index) {
                    <mat-option [value]="invoiceCode.code">
                        {{ invoiceCode.name }}
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>N° de serie</mat-label>
                <input type="text" matInput formControlName="serie">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Fecha de compra</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="createdAt">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Fecha de vencimiento</mat-label>
                <input matInput [matDatepicker]="expirationAt" formControlName="expirationAt">
                <mat-datepicker-toggle matSuffix [for]="expirationAt"></mat-datepicker-toggle>
                <mat-datepicker #expirationAt></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Observaciones</mat-label>
                <input type="text" matInput formControlName="observation">
            </mat-form-field>
            <button type="button" class="w-100" mat-flat-button [disabled]="$isLoading()" color="primary" (click)="onSubmit()">
                GUARDAR
            </button>
        </div>
    </form>
    <div class="flex-30 bg-white list-items">
        <app-purchase-items></app-purchase-items>
    </div>
</div>
