<mat-action-list>
    <button type="button" mat-list-item (click)="onPrintBarcodes110x30mm()">
        <mat-icon matListItemIcon class="color-black">qr_code</mat-icon>
        <span matListItemTitle>Imprimir 110x30mm</span>
        <span>unico</span>
    </button>
    <button type="button" mat-list-item (click)="onPrintBarcodes105x25mm()">
        <mat-icon matListItemIcon class="color-black">qr_code</mat-icon>
        <span matListItemTitle>Imprimir 105x25mm</span>
        <span>modelo 1</span>
    </button>
    <button type="button" mat-list-item (click)="onPrintBarcodes105x25mmTwo()">
        <mat-icon matListItemIcon class="color-black">qr_code</mat-icon>
        <span matListItemTitle>Imprimir 105x25mm</span>
        <span>modelo 2</span>
    </button>
    <button type="button" mat-list-item (click)="onPrintBarcodes70x30mm()">
        <mat-icon matListItemIcon class="color-black">qr_code</mat-icon>
        <span matListItemTitle>Imprimir 70x30mm</span>
        <span>modelo 1</span>
    </button>
    <button type="button" mat-list-item (click)="onPrintBarcodes70x30mmTwo()">
        <mat-icon matListItemIcon class="color-black">qr_code</mat-icon>
        <span matListItemTitle>Imprimir 70x30mm</span>
        <span>modelo 2</span>
    </button>
    <button type="button" mat-list-item (click)="onPrintBarcodes60x30mm()">
        <mat-icon matListItemIcon class="color-black">qr_code</mat-icon>
        <span matListItemTitle>Imprimir 60x30mm</span>
        <span>unico</span>
    </button>
    <button type="button" mat-list-item (click)="onPrintBarcodes50x25mm()">
        <mat-icon matListItemIcon class="color-black">qr_code</mat-icon>
        <span matListItemTitle>Imprimir 50x25mm</span>
        <span>modelo 1</span>
    </button>
    <button type="button" mat-list-item (click)="onPrintBarcodes50x25mmTwo()">
        <mat-icon matListItemIcon class="color-black">qr_code</mat-icon>
        <span matListItemTitle>Imprimir 50x25mm</span>
        <span>modelo 2</span>
    </button>
</mat-action-list>