<div class="d-flex">
    <div class="flex-70">
        <mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="selectedIndex = $event"
            animationDuration="0ms">
            <mat-tab>
                <ng-template mat-tab-label>
                    Categorias
                </ng-template>
                <mat-grid-list [cols]="gridListCols" rowHeight="4:2" class="text-uppercase text-center">
                    @for (categorySupply of categorySupplies; track categorySupply._id) {
                    <mat-grid-tile (click)="onSelectCategorySupply(categorySupply)" [style.background]="'lightgreen'">
                        {{ categorySupply.name }}
                    </mat-grid-tile>
                    }
                </mat-grid-list>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    Busqueda
                </ng-template>
                <mat-grid-list [cols]="gridListCols" rowHeight="4:2" class="text-uppercase text-center">
                    @for (supply of filterSupplies; track $index) {
                    <mat-grid-tile (click)="onClickSupply(supply)">
                        {{ supply.fullName }}
                        <small class="text-muted text-price">
                            {{ supply.cost.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}
                        </small>
                    </mat-grid-tile>
                    }
                </mat-grid-list>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="flex-30 bg-white list-items">
        <app-purchase-supply-items></app-purchase-supply-items>
    </div>
    <div class="fixed-bottom d-flex footer-button">
        <span class="spacer"></span>
        <div class="p-3">
            <button type="button" mat-raised-button (click)="onCancel()" color="primary">CANCELAR</button>
            <span class="divider"></span>
            <button type="button" mat-flat-button color="primary" routerLink="/purchaseSupplies/charge">COMPRAR</button>
        </div>
    </div>
</div>