<div class="d-flex container-fluid">
    <div class="flex-70 overflow-auto" style="margin-bottom: 60px;">
        <mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="selectedIndex = $event"
            animationDuration="0ms">
            <mat-tab>
                <ng-template mat-tab-label>
                    Favoritos
                </ng-template>
                <mat-grid-list [cols]="gridListCols" rowHeight="4:2" class="text-uppercase text-center">
                    @for (product of favorites; track product._id) {
                    <mat-grid-tile (click)="onRemoveFavorite(product)">
                        {{ product.fullName }}
                    </mat-grid-tile>
                    }
                </mat-grid-list>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    Busqueda
                </ng-template>
                <mat-grid-list [cols]="gridListCols" rowHeight="4:2" class="text-uppercase text-center">
                    @for (product of products; track product._id) {
                    <mat-grid-tile (click)="onSelectProduct(product)" [ngStyle]="urlImage(product)">
                        {{ product.fullName.slice(0, 60) }}
                    </mat-grid-tile>
                    }
                </mat-grid-list>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="flex-30 bg-white list-items overflow-auto" style="margin-bottom: 60px;">
        <!-- <app-favorite-items></app-favorite-items> -->
    </div>
    <div class="fixed-bottom d-flex align-items-center footer-button">
        <div class="px-3">
            @if (setting.defaultPrice === 'LISTA' || setting.defaultPrice === 'LISTAOFICINA') {
            <mat-form-field appearance="fill">
                <mat-select [(value)]="priceListId" (selectionChange)="onChangePriceList()">
                    @for (priceList of priceLists; track $index) {
                    <mat-option [value]="priceList._id">{{ priceList.name }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            }
        </div>
        <span class="spacer"></span>
        <div class="p-3">
        </div>
    </div>
</div>