<section class="d-flex container-fluid">
    <div class="flex-70 overflow-auto" style="margin-bottom: 60px;">
        <mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="selectedIndex = $event"
            animationDuration="0ms">
            <mat-tab>
                <ng-template mat-tab-label>
                    Favoritos
                </ng-template>
                <mat-grid-list [cols]="gridListCols" rowHeight="4:2" class="text-uppercase text-center">
                    <mat-grid-tile (click)="onRemoveFavorite(product)" *ngFor="let product of favorites">
                        {{ product.fullName }}
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    Busqueda
                </ng-template>
                <mat-grid-list [cols]="gridListCols" rowHeight="4:2" class="text-uppercase text-center">
                    <mat-grid-tile (click)="onSelectProduct(product)" *ngFor="let product of products"
                        [ngStyle]="urlImage(product)">
                        {{ product.fullName.slice(0, 60) }}
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="flex-30 bg-white list-items overflow-auto" style="margin-bottom: 60px;">
        <app-favorite-items></app-favorite-items>
    </div>
    <div class="fixed-bottom d-flex align-items-center footer-button">
        <div class="px-3" *ngIf="priceLists.length">
            <mat-form-field appearance="fill"
                *ngIf="setting.defaultPrice === 'LISTA' || setting.defaultPrice === 'LISTAOFICINA'">
                <mat-select [(value)]="priceListId" (selectionChange)="onChangePriceList()">
                    <mat-option *ngFor="let element of priceLists" [value]="element._id">{{ element.name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <span class="spacer"></span>
        <div class="p-3">
        </div>
    </div>
</section>