<div class="container">
    <div class="mat-elevation-z2">
        <table mat-table [dataSource]="dataSource" class="w-100">
            <ng-container matColumnDef="checked">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="checkAllCategories($event.checked)"
                        [checked]="dataSource.length > 0 && dataSource.length === categoriesId.length"></mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let element" class="text-capitalize truncate-cell">
                    <mat-checkbox (change)="checkCategoryId($event.checked, element._id)"
                        [checked]="categoriesId.includes(element._id)"></mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let element" class="text-capitalize truncate-cell">{{ element.name | uppercase
                    }}</td>
            </ng-container>
            <ng-container matColumnDef="products">
                <th mat-header-cell *matHeaderCellDef>Productos</th>
                <td mat-cell *matCellDef="let element" class="text-capitalize truncate-cell">{{ element.countProducts }}
                </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    <button type="button" mat-icon-button>
                        <mat-icon *ngIf="element.deletedAt !== null">delete</mat-icon>
                    </button>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="before">
                        <button type="button" (click)="onShowProducts(element)" mat-menu-item>
                            <mat-icon>info</mat-icon>
                            <span>Productos</span>
                        </button>
                        <button type="button" (click)="onEdit(element)" mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>Editar</span>
                        </button>
                        <button type="button" (click)="onRestore(element)" *ngIf="element.deletedAt; else elseBlock"
                            mat-menu-item>
                            <mat-icon>restore_from_trash</mat-icon>
                            <span>Restaurar</span>
                        </button>
                        <ng-template #elseBlock>
                            <button type="button" (click)="onDelete(element._id)" mat-menu-item>
                                <mat-icon>delete</mat-icon>
                                <span>Eliminar</span>
                            </button>
                        </ng-template>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [pageIndex]="pageIndex"
            [length]="length" (page)="handlePageEvent($event)" showFirstLastButtons></mat-paginator>
    </div>
    <div class="fixed-bottom p-3" style="right: 0; left: unset; width: auto;">
        <button type="button" (click)="onCreateCategory()" mat-fab color="primary" class="float-right">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>