<div class="container">
    <!-- <form [formGroup]="formGroup" autocomplete="off">
        <div class="d-flex">
            <mat-form-field appearance="fill">
                <mat-label>Seleccione un rango de fechas</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Desde" formControlName="startDate">
                    <input matEndDate placeholder="Hasta" formControlName="endDate" (dateChange)="onRangeChange()">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>
    </form> -->
    <mat-card class="mb-3">
        <mat-card-header>
            <mat-card-title>Resumen</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <table class="mb-3">
                <tbody>
                    @if ($purchaseItemsCount()) {
                    <tr>
                        <td width="300">Total compras</td>
                        <td class="text-right">+{{ ($purchaseItemsCount()).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}</td>
                    </tr>
                    }
                    @if ($inIncidentItemsCount()) {
                    <tr>
                        <td width="300">Total aumentos</td>
                        <td class="text-right">+{{ ($inIncidentItemsCount()).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}</td>
                    </tr>
                    }
                    @if ($saleItemsCount()) {
                    <tr>
                        <td width="300">Total ventas</td>
                        <td class="text-right">-{{ ($saleItemsCount()).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}</td>
                    </tr>
                    }
                    @if ($outIncidentItemsCount()) {
                    <tr>
                        <td width="300">Total reducciones</td>
                        <td class="text-right">-{{ ($outIncidentItemsCount()).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}</td>
                    </tr>
                    }
                    <tr>
                        <td width="300">Stock Actual</td>
                        <td class="text-right">{{ ($product()?.stock || 0).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}</td>
                    </tr>
                </tbody>
            </table>
        </mat-card-content>
    </mat-card>
    <div class="mb-3">
        @if ($purchaseItems().length) {
        <div class="w-100">
            <h2 class="mat-title-large">Compras</h2>
            <table mat-table [dataSource]="dataSourcePurchases" class="w-100 mb-3" matSort matSortActive="createdAt"
                matSortDirection="desc">
                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="createdAt">F. de registro</th>
                    <td mat-cell *matCellDef="let element">{{ element.createdAt | date: 'MMM d, y hh:mm a' }}</td>
                </ng-container>
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef>Precio</th>
                    <td mat-cell *matCellDef="let element">
                        <span>{{ element.price.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="cost">
                    <th mat-header-cell *matHeaderCellDef>Costo</th>
                    <td mat-cell *matCellDef="let element">
                        <span>{{ element.cost.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="quantity">Cantidad</th>
                    <td mat-cell *matCellDef="let element">
                        <span>+{{ element.quantity }}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="observation">
                    <th mat-header-cell *matHeaderCellDef>Observaciones</th>
                    <td mat-cell *matCellDef="let element">
                        <span>{{ element.purchase.observation || 'NINGUNO' }}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element" class="text-right">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button type="button" (click)="onDetailPurchases(element.purchaseId)" mat-menu-item>
                                <mat-icon>info</mat-icon>
                                <span>Detalles</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="bg-success"></tr>
            </table>
            <button type="button" [routerLink]="['/purchases', productId, 'purchaseItems']" mat-flat-button color="primary" class="w-100">VER TODOS</button>
        </div>
        }
    </div>
    <div class="mb-3">
        @if ($inIncidentItems().length) {
        <div class="w-100">
            <h2 class="mat-title-large">Aumentos</h2>
            <table mat-table [dataSource]="dataSourceInIncidents" class="w-100 mb-3" matSort matSortActive="createdAt"
                matSortDirection="desc">
                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="createdAt">F. de registro</th>
                    <td mat-cell *matCellDef="let element">{{ element.createdAt | date: 'MMM d, y hh:mm a' }}</td>
                </ng-container>
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef>Precio</th>
                    <td mat-cell *matCellDef="let element">
                        <span>{{ element.price.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="cost">
                    <th mat-header-cell *matHeaderCellDef>Costo</th>
                    <td mat-cell *matCellDef="let element">
                        <span>{{ element.cost.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="quantity">Cantidad</th>
                    <td mat-cell *matCellDef="let element">
                        <span>+{{ element.quantity }}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="observation">
                    <th mat-header-cell *matHeaderCellDef>Observaciones</th>
                    <td mat-cell *matCellDef="let element">
                        <span>{{ element.inIncident.observation || 'NINGUNO' }}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element" class="text-right">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button type="button" (click)="onDetailInIncidents(element.inIncidentId)" mat-menu-item>
                                <mat-icon>info</mat-icon>
                                <span>Detalles</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="bg-success"></tr>
            </table>
            <button type="button" [routerLink]="['/incidents', productId, 'inIncidentItems']" mat-flat-button color="primary" class="w-100">VER TODOS</button>
        </div>
        }
    </div>
    <div class="mb-3">
        @if ($saleItems().length) {
        <div class="w-100">
            <h2 class="mat-title-large">Ventas</h2>
            <table mat-table [dataSource]="dataSourceSales" class="w-100 mb-3" matSort matSortActive="createdAt"
                matSortDirection="desc">
                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef>F. de registro</th>
                    <td mat-cell *matCellDef="let element">{{ element.createdAt | date: 'MMM d, y hh:mm a' }}</td>
                </ng-container>
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef>Precio</th>
                    <td mat-cell *matCellDef="let element">
                        <span>{{ element.price.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="cost">
                    <th mat-header-cell *matHeaderCellDef>Costo</th>
                    <td mat-cell *matCellDef="let element">
                        <span>{{ element.cost.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="quantity">Cantidad</th>
                    <td mat-cell *matCellDef="let element">
                        <span>-{{ element.quantity }}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="observation">
                    <th mat-header-cell *matHeaderCellDef>Observaciones</th>
                    <td mat-cell *matCellDef="let element">
                         <span>{{ element.sale.observation || 'NINGUNO' }}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element" class="text-right">
                        @if (element.deletedAt) {
                        <button mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                        }
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button type="button" (click)="onDetailSales(element.saleId)" mat-menu-item>
                                <mat-icon>info</mat-icon>
                                <span>Detalles</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="bg-danger"></tr>
            </table>
            <button type="button" [routerLink]="['/charge', productId, 'saleItems']" mat-flat-button color="primary" class="w-100">VER TODOS</button>
        </div>
        }
    </div>
    <div class="mb-3">
        @if ($outIncidentItems().length) {
        <div class="w-100">
            <h2 class="mat-title-large">Reducciones</h2>
            <table mat-table [dataSource]="dataSourceOutIncidents" class="w-100 mb-3" matSort matSortActive="createdAt"
                matSortDirection="desc">
                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="createdAt">F. de registro</th>
                    <td mat-cell *matCellDef="let element">{{ element.createdAt | date: 'MMM d, y hh:mm a' }}</td>
                </ng-container>
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef>Precio</th>
                    <td mat-cell *matCellDef="let element">
                        <span>{{ element.price.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="cost">
                    <th mat-header-cell *matHeaderCellDef>Costo</th>
                    <td mat-cell *matCellDef="let element">
                        <span>{{ element.cost.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="quantity">Cantidad</th>
                    <td mat-cell *matCellDef="let element">
                        <span>-{{ element.quantity }}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="observation">
                    <th mat-header-cell *matHeaderCellDef>Observaciones</th>
                    <td mat-cell *matCellDef="let element">
                        <span>{{ element.outIncident.observation || 'NINGUNO' }}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element" class="text-right">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button type="button" (click)="onDetailOutIncidents(element.outIncidentId)" mat-menu-item>
                                <mat-icon>info</mat-icon>
                                <span>Detalles</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="bg-danger"></tr>
            </table>
            <button type="button" [routerLink]="['/incidents', productId, 'outIncidentItems']" mat-flat-button color="primary" class="w-100">VER TODOS</button>
        </div>
        }
    </div>
</div>
