<mat-tab-group animationDuration="0ms">
    <mat-tab label="Clientes">
        <div class="container">
            <form [formGroup]="formGroup" autocomplete="off">
                <mat-form-field appearance="fill">
                    <mat-label>Todos los clientes</mat-label>
                    <mat-select formControlName="documentType" (selectionChange)="onChangeDocumentType()">
                        <mat-option value="">TODOS LOS CLIENTES</mat-option>
                        <mat-option value="RUC">SOLO CLIENTES CON RUC</mat-option>
                        <mat-option value="DNI">SOLO CLIENTES CON DNI</mat-option>
                        <mat-option value="CE">SOLO CLIENTES CON CARNET DE EXTRANJERIA</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
            <div class="mb-3">
                <button type="button" class="w-100" mat-flat-button color="primary"
                    (click)="onOpenDialogProducts()">FILTRAR POR PRODUCTO/SERVICIO</button>
            </div>
            <div class="mat-elevation-z2">
                <table mat-table [dataSource]="dataSource" class="w-100">
                    <ng-container matColumnDef="checked">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="onCheckAllCustomers($event.checked)"
                                [checked]="dataSource.length > 0 && dataSource.length === customerIds.length"></mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-capitalize truncate-cell">
                            <mat-checkbox (change)="onCheckCustomer($event.checked, element._id)"
                                [checked]="customerIds.includes(element._id)"></mat-checkbox>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="document">
                        <th mat-header-cell *matHeaderCellDef>N° Documento</th>
                        <td mat-cell *matCellDef="let element">{{ element.documentType }}: {{ element.document }}</td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Razon Social/Nombres</th>
                        <td mat-cell *matCellDef="let element" class="text-capitalize truncate-cell">
                            {{ element.name | uppercase }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="creditLimit">
                        <th mat-header-cell *matHeaderCellDef>Limite de credito</th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{ 'text-muted': !element.creditLimit}">
                            {{ element.creditLimit ? element.creditLimit.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) : 'SIN LIMITE' }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="mobileNumber">
                        <th mat-header-cell *matHeaderCellDef>Celular</th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{ 'text-muted': !element.mobileNumber }">
                            {{ element.mobileNumber || 'NINGUNO' }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="observations">
                        <th mat-header-cell *matHeaderCellDef>Observaciones</th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{ 'text-muted': !element.observations }">
                            {{ element.observations || 'NINGUNO' }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element" class="text-right">
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" xPosition="before">
                                <button type="button" (click)="onDialogDetailCustomer(element._id)" mat-menu-item>
                                    <mat-icon>info</mat-icon>
                                    <span>Detalles</span>
                                </button>
                                <button type="button" [routerLink]="['/customers', element._id, 'sales']" mat-menu-item>
                                    <mat-icon>playlist_add_check</mat-icon>
                                    <span>Ventas</span>
                                </button>
                                <button type="button" [routerLink]="['/customers', element._id, 'credits']"
                                    mat-menu-item>
                                    <mat-icon>local_atm</mat-icon>
                                    <span>Creditos</span>
                                </button>
                                <button type="button" [routerLink]="['/customers', element._id, 'edit']" mat-menu-item>
                                    <mat-icon>edit</mat-icon>
                                    <span>Editar</span>
                                </button>
                                <button type="button" (click)="onDelete(element._id)" mat-menu-item>
                                    <mat-icon>delete</mat-icon>
                                    <span>Eliminar</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [pageIndex]="pageIndex"
                    [length]="length" (page)="handlePageEvent($event)" showFirstLastButtons></mat-paginator>
            </div>
            <div class="fixed-bottom p-3" style="right: 0; left: unset; width: auto;">
                <button mat-fab color="primary" class="float-right" routerLink="/customers/create">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Eliminados">
        <ng-template matTabContent>
            <app-deleted-customers></app-deleted-customers>
        </ng-template>
    </mat-tab>
</mat-tab-group>