<div class="d-flex h-100">
    <form class="flex-70 d-flex align-items-center justify-content-center" (ngSubmit)="onSubmit()"
        [formGroup]="formGroup">
        <div class="px-3">
            <h2 class="text-center mat-display-small mb-0">{{ charge.toFixed(2) }}</h2>
            <p class="caption text-center text-muted mb-2">Total a cobrar</p>
            @if (customer) {
            <button type="button" mat-button color="primary" (click)="onEditCustomer()" class="w-100 mb-3">
                <span class="mat-h1">{{ customer.name | uppercase }}</span>
            </button>
            @if (customer.mobileNumber) {
            <p class="text-center mb-3">Celular: {{ customer.formatMobileNumber }}</p>
            }
            }
            <mat-form-field appearance="fill">
                <mat-label>Comprobante</mat-label>
                <mat-select formControlName="invoiceType">
                    @for (invoiceType of invoiceTypes; track $index) {
                    <mat-option [value]="invoiceType.code">
                        {{ invoiceType.name }}
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Observaciones</mat-label>
                <input type="text" matInput formControlName="observations">
            </mat-form-field>
            <button type="button" class="w-100" mat-flat-button [disabled]="isLoading" color="primary"
                (click)="onSubmit()">
                GUARDAR
            </button>
        </div>
    </form>

    <div class="flex-30 bg-white list-items">
        <mat-action-list>
            @for (saleItem of saleItems; track saleItem.productId; let i = $index) {
            <button mat-list-item>
                <span matListItemTitle>{{ saleItem.fullName }}</span>
                <div matListItemLine class="d-flex my-1">
                    <span class="mr-2">x{{ saleItem.quantity }}</span>
                    @if (saleItem.igvCode === igvType.BONIFICACION) {
                    <span class="mr-2" [style.color]="'green'">Bonificacion</span>
                    }
                    @if (saleItem.igvCode === igvType.EXONERADO) {
                    <span class="text-primary mr-2">Exonerado</span>
                    }
                    @if (saleItem.igvCode === igvType.INAFECTO) {
                    <span class="text-primary mr-2">Inafecto</span>
                    }
                    @if (saleItem.lot) {
                    <span class="text-primary mr-2">N° {{ saleItem.lot.lotNumber }}</span>
                    }
                    <span class="text-muted">{{ saleItem.observations }}</span>
                    <span class="spacer"></span>
                    <span>{{ (saleItem.price * saleItem.quantity).toFixed(2) }}</span>
                </div>
            </button>
            }
            <button mat-list-item>
                <div matListItemTitle class="d-flex font-weight-bold">
                    <span>
                        Total
                    </span>
                    <span class="spacer"></span>
                    <span>
                        {{ charge.toFixed(2) }}
                    </span>
                </div>
            </button>
        </mat-action-list>
    </div>
</div>