<div class="d-flex container-fluid">
    <form class="flex-70 overflow-auto" (ngSubmit)="onSubmit()" [formGroup]="formGroup" autocomplete="off">
        <div class="px-3">
            <h2 class="text-center mat-display-small mb-0">{{ charge.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}</h2>
            <p class="caption text-center text-muted mb-2">Total a cobrar</p>
            @if (customer) {
            <button type="button" mat-button color="primary" (click)="onEditCustomer()" class="w-100 mb-3">
                <span>{{ customer.name | uppercase }}</span>
            </button>
            <p class="text-center mb-0">{{ customer.mobileNumber }}</p>
            }
            <mat-form-field appearance="fill">
                <mat-label>Comprobante</mat-label>
                <mat-select formControlName="invoiceType">
                    @for (invoiceType of invoiceTypes; track $index) {
                    <mat-option [value]="invoiceType.code">
                        {{ invoiceType.name }}
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Medio de pago</mat-label>
                <mat-select formControlName="paymentMethodId">
                    @for (paymentMethod of paymentMethods; track paymentMethod._id) {
                    <mat-option [value]="paymentMethod._id">
                        {{ paymentMethod.name }}
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Especialidad</mat-label>
                <mat-select formControlName="specialtyId">
                    @for (specialty of specialties; track specialty._id) {
                    <mat-option [value]="specialty._id" class="text-uppercase">
                        {{ specialty.name }}
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Personal a cargo</mat-label>
                <mat-select formControlName="workerId">
                    @for (worker of workers; track worker._id) {
                    <mat-option [value]="worker._id" class="text-uppercase">
                        {{ worker.name }}
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Referido por</mat-label>
                <mat-select formControlName="referredId">
                    @for (worker of workers; track worker._id) {
                    <mat-option [value]="worker._id" class="text-uppercase">
                        {{ worker.name }}
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Observaciones</mat-label>
                <input type="text" matInput formControlName="observations">
            </mat-form-field>
            @if (setting.showChange) {
            <div class="d-flex">
                <mat-form-field appearance="fill">
                    <input type="number" class="text-center" #inputCash matInput formControlName="cash"
                        (input)="setCash(inputCash.value)">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Vuelto</mat-label>
                    @if (cash === 0) {
                    <input type="number" class="text-center" matInput>
                    }
                    @if (cash !== 0) {
                    <input type="number" class="text-center" matInput [value]="cash - efectivo()">
                    }
                </mat-form-field>
            </div>
            <div class="my-2 d-flex">
                <span class="spacer"></span>
                <button type="button" mat-fab color="warn" class="mx-1" (click)="resetCash()">
                    <mat-icon>delete</mat-icon>
                </button>
                <button type="button" mat-fab color="primary" class="mx-1" (click)="addCash(1)">
                    <span>1</span>
                </button>
                <button type="button" mat-fab color="primary" class="mx-1" (click)="addCash(5)">
                    <span>5</span>
                </button>
                <button type="button" mat-fab color="primary" class="mx-1" (click)="addCash(10)">
                    <span>10</span>
                </button>
                <button type="button" mat-fab color="primary" class="mx-1" (click)="addCash(20)">
                    <span>20</span>
                </button>
                <button type="button" mat-fab color="primary" class="mx-1" (click)="addCash(50)">
                    <span>50</span>
                </button>
                <button type="button" mat-fab color="primary" class="mx-1" (click)="addCash(100)">
                    <span>100</span>
                </button>
                <span class="spacer"></span>
            </div>
            }
            <div class="p-1"></div>
            <button type="button" class="w-100" mat-flat-button [disabled]="isLoading" color="primary"
                (click)="onSubmit()">
                GUARDAR
            </button>
        </div>
    </form>
    <div class="flex-30 bg-white list-items">
        <app-sale-items></app-sale-items>
    </div>
</div>