<form [formGroup]="formGroup" autocomplete="off">
    <h2 mat-dialog-title>Buscar cliente</h2>
    <div mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>Tipo de Busqueda</mat-label>
            <mat-select formControlName="searchType" #searchType tabindex="-1">
                @for (searchType of searchTypes; track $index) {
                    <mat-option [value]="searchType.code">{{ searchType.label }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        @if (searchType.value === 'NAME') {
            <mat-form-field appearance="fill">
                <mat-label>Busqueda</mat-label>
                <input type="text" matInput formControlName="key" (keyup.enter)="onChangeKey()">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        } @else {
            <mat-form-field appearance="fill">
                <mat-label>Busqueda</mat-label>
                <input type="text" matInput formControlName="key" (input)="onChangeKey()">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        }
        <mat-action-list>
            @for (customer of customers; track customer._id) {
                <button mat-list-item (click)="onSelectCustomer(customer)">
                    <span matListItemTitle>{{ customer.name | uppercase }}</span>
                    <span matListItemLine>{{ customer.documentType }}: {{ customer.document }}</span>
                </button>
            }
        </mat-action-list>
    </div>
    <mat-dialog-actions>
        <span class="spacer"></span>
        <button type="button" mat-raised-button mat-dialog-close color="primary">CANCELAR</button>
        <button type="button" mat-flat-button mat-dialog-close color="primary" [disabled]="isLoading"
            (click)="onCreateCustomer()">NUEVO CLIENTE</button>
    </mat-dialog-actions>
</form>