<div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" autocomplete="off">
        <mat-form-field appearance="fill">
            <mat-label>Tipo de Documento</mat-label>
            <mat-select formControlName="documentType">
                <mat-option value="RUC">RUC</mat-option>
                <mat-option value="DNI">DNI</mat-option>
                <mat-option value="CE">CE</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>N° de Documento</mat-label>
            <input type="text" matInput formControlName="document" [maxlength]="maxLength">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Nombres/Rason Social</mat-label>
            <input type="text" matInput formControlName="name">
        </mat-form-field>
        <ng-container formArrayName="addresses">
            @for (control of formArray.controls; track $index; let i = $index) {
                <mat-form-field appearance="fill">
                    <mat-label>Direccion {{ i + 1 }}</mat-label>
                    <input type="text" matInput [formControlName]="i">
                </mat-form-field>
            }
        </ng-container>
        <button type="button" class="mb-4 w-100" [disabled]="isLoading" (click)="onAddAddress()" mat-flat-button
            color="primary">AGREGAR DIRECCION</button>
        <mat-form-field appearance="fill">
            <mat-label>Celular</mat-label>
            <input type="text" matInput formControlName="mobileNumber">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input type="text" matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Observaciones</mat-label>
            <input type="text" matInput formControlName="observations">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput [matDatepicker]="birthDatePicker" formControlName="birthDate">
            <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #birthDatePicker></mat-datepicker>
        </mat-form-field>
        <div class="d-flex">
            <span class="spacer"></span>
            <div class="py-3">
                <button type="button" [disabled]="isLoading" mat-raised-button routerLink="/customers"
                    color="primary">CANCELAR</button>
                <span class="divider"></span>
                <button type="submit" [disabled]="isLoading" mat-flat-button color="primary">GUARDAR</button>
            </div>
        </div>
    </form>
</div>